# Variables
A variable is a name that stores a value.  
The value can be a number, string, list, etc.


### 1. Integer
An integer has no decimals in it.

In [6]:
x = 7
print(x)          # Output: 7
print(type(x))    # Output: <class 'int'>

7
<class 'int'>

### 2.Floating Point
A floating point is stored with a decimal.  

Mixing int and float in an expression results in a float.

In [11]:
a = 5        # integer
b = 5.0      # float

print(a + b)         # Output: 10.0 (result is float)
print(type(a + b))   # Output: <class 'float'>

10.0
<class 'float'>

### 3. String

In [21]:
name = "Sys"
print(name)      # Output: Sys

Sys

### 4. Boolean

In [28]:
is_student = True
print(is_student)  # Output: True

True

### 5. Reassignment

In [31]:
score = 90
score = score + 10
print(score)     # Output: 100

100

### Variable Naming Rules  
Start with a letter or underscore (_)

Can't start with a number (❌ 1name)

No spaces (✅ user_name, ❌ user name)

Case sensitive: age and Age are different

# Basic Arithmetic
### 1. Addition

In [35]:
a = 5 + 3
print(a)   # Output: 8

8

### 2. Subtraction

In [38]:
b = 10 - 4
print(b)   # Output: 6

6

### 3. Multiplication

In [41]:
c = 6 * 7
print(c)   # Output: 42

42

### 4. Division (Always return float)

In [44]:
d = 15 / 2
print(d)   # Output: 7.5

7.5

### 5. Floor Division (Integer)

In [48]:
e = 15 // 2
print(e)   # Output: 7

7

### 6. Modulo (Remainder)

In [51]:
f = 15 % 4
print(f)   # Output: 3

3

### 7. Power

In [54]:
g = 2 ** 3
print(g)   # Output: 8

8

### Can use parentheses to specify orders

In [57]:
print ((2+10) * (10+3))

156

# String  
Strings can be single ' or " quotes.

In [60]:
name = "Alice"
greeting = 'Hello!'

## String Indexing
Index starts at 0 or -1 from backwards

In [63]:
text = "Python"

print(text[0])   # Output: P
print(text[1])   # Output: y
print(text[-1])  # Output: n (last character)

P
y
n

## Slicing 
ရှေ့ပါ နောက်မပါ

In [66]:
text = "Python"

print(text[0])   # Output: P
print(text[1])   # Output: y
print(text[-1])  # Output: n (last character)

P
y
n

string[start:stop:step]

In [72]:
print(text[0:4])   # Output: 'Pyth'

Pyth

### Step

In [77]:
print(text[::1])   # Output: 'Python'

Python

In [79]:
print(text[::2])   # Output: 'Pto'

Pto

In [81]:
print(text[::-2])

nhy

In [83]:
word = "ABCDEFGHIJ"

print(word[1:8:2])   # Output: 'BDFH'

BDFH

## String Methods
### .upper() – Convert to uppercase

In [89]:
text = "hello"
print(text.upper())  # Output: HELLO

HELLO

### .lower() – Convert to lowercase

In [93]:
print("HELLO".lower())  # Output: hello

hello

### .title() – Title-case each word

In [97]:
print("hello world".title())  # Output: Hello World

Hello World

### .capitalize() – Capitalize the first letter

In [100]:
print("hello world".capitalize())  # Output: Hello world

Hello world

### .strip() – Remove leading and trailing spaces

In [104]:
text = "  hello  "
print(text.strip())  # Output: 'hello'

hello

### .lstrip() and .rstrip() – Remove leading or trailing spaces

print(text.lstrip())  # Output: 'hello  '
print(text.rstrip())  # Output: '  hello'

### .find() – Get index of substring (returns -1 if not found)

In [110]:
text = "hello world"
print(text.find("world"))  # Output: 6

6

### .replace() – Replace part of a string

In [113]:
print(text.replace("world", "Python"))  # Output: hello Python

hello Python

### .count() – Count occurrences

In [116]:
print("banana".count("a"))  # Output: 3

3

### .split() – Convert string to list

In [119]:
sentence = "hello world"
words = sentence.split()
print(words)  # Output: ['hello', 'world']

['hello', 'world']

### .join() – Join list into string

In [124]:
joined = "-".join(words)
print(joined)  # Output: hello-world

hello-world

### String Checks

In [127]:
print("hello".isalpha())    # True
print("1234".isdigit())     # True
print("abc123".isalnum())   # True
print("   ".isspace())      # True

True
True
True
True

In [133]:
text = "Python is fun!"
print(text.startswith("Python"))  # True
print(text.endswith("fun!"))      # True

True
True

## Print Formatting

### f-strings

In [137]:
name = "Alice"
age = 30

print(f"My name is {name} and I am {age} years old.")

My name is Alice and I am 30 years old.

### .format() method

In [140]:
print("My name is {} and I am {} years old.".format(name, age))

My name is Alice and I am 30 years old.

## Advanced String Formatting

### 1. Alignment and Width
Left, Center, and Right Alignment in a 10-character field

In [145]:
text = "Hi"
print(f"|{text:<10}|")   # Left align
print(f"|{text:^10}|")   # Center align
print(f"|{text:>10}|")   # Right align

|Hi        |
|    Hi    |
|        Hi|

### 2. Number Formatting
Decimal Places with f-Strings

In [149]:
pi = 3.14159
print(f"Pi rounded to 2 decimals: {pi:.2f}")  # Output: 3.14

Pi rounded to 2 decimals: 3.14

Decimal Places with .format()

In [155]:
print("Pi rounded: {:.3f}".format(pi))  # Output: 3.142

Pi rounded: 3.142

### 3. Currency Formatting

In [170]:
price = 1234.567
print(f"Price: ${price:,.2f}")  # Output: $1,234.57

Price: $1,234.57

### 4. Percentage Format

In [174]:
success_rate = 0.87234
print(f"Success: {success_rate:.1%}")  # Output: 87.2%

Success: 87.2%

### 5. Reordering and Naming Placeholders

In [179]:
print("{1} is older than {0}".format("Alice", "Bob"))
# Output: Bob is older than Alice

print("The {animal} jumps over the {object}".format(animal="cat", object="moon"))

Bob is older than Alice
The cat jumps over the moon

Use :<10, :^10, and :>10 to align strings.

Use :.2f for 2 decimal places.

Use :, to include commas in numbers.

Use :.1% for percent display.