# List
A list is an ordered, changeable (mutable) collection of items.

In [3]:
fruits = ["apple", "banana", "cherry"]

### List Indexing and Slicing

In [6]:
print(fruits[0])      # First item → 'apple'
print(fruits[-1])     # Last item → 'cherry'
print(fruits[1:3])    # Slice → ['banana', 'cherry']

apple
cherry
['banana', 'cherry']

### Common List Methods

In [9]:
fruits.append("orange")       # Add to end
fruits.insert(1, "kiwi")      # Add at index
fruits.remove("banana")       # Remove item
fruits.pop()                  # Remove last item
fruits.sort()                 # Sort alphabetically
fruits.reverse()              # Reverse order
fruits.count("apple")         # Count occurrences
fruits.index("cherry")        # Find index

1

### Combining and Copying Lists

In [12]:
list1 = [1, 2, 3]
list2 = [4, 5]
combined = list1 + list2      # [1, 2, 3, 4, 5]
copy_list = list1.copy()      # Creates a new copy

### Clear and Delete

In [17]:
list1.clear()                 # Removes all items
del list2[0]                  # Deletes index 0 item

In [19]:
squares = [x**2 for x in range(5)]  # [0, 1, 4, 9, 16]

# Dictionary 
A dictionary is an unordered collection of key-value pairs.  
Keys must be unique and immutable (e.g., strings, numbers, tuples)   
Values can be any type

In [40]:
student = {
    "name": "Alice",
    "age": 21,
    "major": "Computer Science"
}  # 'name' is the key, "Alice" is the value
print(student)

{'name': 'Alice', 'age': 21, 'major': 'Computer Science'}

In [27]:
print(student["name"])       # Output: Alice
print(student.get("age"))    # Output: 21

Alice
21

### Modifying a Dictionary

In [30]:
student["age"] = 22                 # Update value
student["GPA"] = 3.8                # Add new key-value pair
print(student)

{'name': 'Alice', 'age': 22, 'major': 'Computer Science', 'GPA': 3.8}

In [32]:
student.pop("major")               # Remove by key
del student["GPA"]                 # Delete by key
student.clear()                    # Clear entire dictionary

### Methods

| Method           | Description                          |
| ---------------- | ------------------------------------ |
| `.get(key)`      | Returns value or `None` if not found |
| `.keys()`        | Returns a view of all keys           |
| `.values()`      | Returns all values                   |
| `.items()`       | Returns key-value pairs              |
| `.pop(key)`      | Removes key and returns its value    |
| `.update(dict2)` | Updates dictionary with another dict |
| `.clear()`       | Clears all items                     |

In [38]:
students = {
    "001": {"name": "Alice", "grade": "A"},
    "002": {"name": "Bob", "grade": "B"}
}

print(students["001"]["name"])  # Output: Alice

Alice

# Tuples
A tuple is an ordered, immutable (unchangeable) collection of items.  
Tuples use round brackets ()  
They can store mixed data types  
Cannot be changed after creation (immutable)

In [45]:
my_tuple = ("apple", "banana", "cherry")

In [47]:
print(my_tuple[0])     # Output: apple
print(my_tuple[-1])    # Output: cherry
print(my_tuple[1:])    # Output: ('banana', 'cherry')

apple
cherry
('banana', 'cherry')

### Immutability

In [50]:
my_tuple[0] = "orange"  # ❌ Error: 'tuple' object does not support item assignment

TypeError: 'tuple' object does not support item assignment

In [52]:
print(len(my_tuple))   # Output: 3

3

In [56]:
nums = (1, 2, 2, 3, 3, 4)

print(nums.count(2))   # Output: 2
print(nums.index(4))   # Output: 5

2
5

### Convert List ↔ Tuple

In [59]:
fruits = ["apple", "banana"]
tup = tuple(fruits)     # List → Tuple
lst = list(tup)         # Tuple → List

### Tuple with One Item

In [62]:
one_item = ("hello",)   # Must have a comma
print(type(one_item))   # Output: <class 'tuple'>

<class 'tuple'>

# Sets
A set is an unordered, unindexed, unique collection of items.   
 . No duplicate elements  
 . Items are not ordered   
 . Sets use {} or set() function

In [66]:
fruits = {"apple", "banana", "banana", "cherry"}
print(fruits)

{'banana', 'apple', 'cherry'}

### Methods

In [69]:
fruits.add("orange")         # Add item
fruits.remove("banana")      # Remove item (error if not found)
fruits.discard("grape")      # Remove without error
fruits.clear()               # Empty the set

### Operations

In [72]:
a = {1, 2, 3}
b = {3, 4, 5}

print(a | b)   # Union → {1, 2, 3, 4, 5}
print(a & b)   # Intersection → {3}
print(a - b)   # Difference → {1, 2}
print(a ^ b)   # Symmetric difference → {1, 2, 4, 5}

{1, 2, 3, 4, 5}
{3}
{1, 2}
{1, 2, 4, 5}

# Boolean
A Boolean is either True or False.

In [75]:
x = True
y = False
print(type(x))  # Output: <class 'bool'>

<class 'bool'>

### Expression

In [78]:
print(5 > 3)     # True
print(2 == 4)    # False
print("a" in "cat")  # True

True
False
True

### Logical Operators
| Operator | Meaning      | Example          | Result |
| -------- | ------------ | ---------------- | ------ |
| `and`    | Both true    | `True and False` | False  |
| `or`     | At least one | `True or False`  | True   |
| `not`    | Negation     | `not True`       | False  |

In [83]:
age = 20
if age >= 18:
    print("You are an adult.")  # True branch

You are an adult.

# Python File Handling

Python allows you to read from and write to files using built-in functions like `open()`, `read()`, `write()`, and `with`.

### Open a File


| Mode  | Description         |
| ----- | ------------------- |
| `'r'` | Read (default)      |
| `'w'` | Write (overwrite)   |
| `'a'` | Append              |
| `'x'` | Create file         |
| `'b'` | Binary mode         |
| `'t'` | Text mode (default) |

### Reading Files

In [ ]:
file = open("example.txt", "r")
content = file.read()
print(content)
file.close()

### Better Practice: `with` Statement
Automatically closes the file.

In [ ]:
with open("example.txt", "r") as file:
    content = file.read()
    print(content)

### Read Methods

In [ ]:
file.read()     # Reads full content
file.readline() # Reads one line
file.readlines() # Reads all lines into a list

### Writing to Files
* Overwrites existing file
* Use `"a"` mode to append instead of overwrite

In [ ]:
with open("output.txt", "w") as file:
    file.write("Hello, this is new content!")

### Reading & Writing Together

In [ ]:
with open("data.txt", "r+") as file:
    content = file.read()
    file.write("\nNew line added.")

### Check File Exists

In [102]:
import os

if os.path.exists("example.txt"):
    print("File exists.")
else:
    print("File does not exist.")

File does not exist.